.navbar{
  box-shadow: 0 2px 4px 0 rgba(255, 0, 0, 0.2);
}

.navbar-nav{
  width: 100%;
}

.nav-item {
  padding-right:20px;
}

.nav-item .nav-link{
  margin-top:20px;
  font-size:20px;
  color:white;
}

.navbar-brand{
  color:white;
  font-size:20px; 
  padding-right:50px;
}

.navbar.navbar-expand-md{
  background-color:#1a1a1a;
  height: 60px;
  margin-bottom:10px
}

#navbarNavDropdown{
  margin-bottom: 20px;
}

.nav-item.dropdown{
  font-size:20px;
  padding-right:20px;
}

.profile-button{
  position: fixed;
  right: 0px;
}

.nav-link.dropdown-toggle{
  margin-top:20px;  
  color:white;
}

.footer{
  color:white; 
  text-align:center;
}

.container{
  margin-top: 20px;
}

.card{
  width: 15rem;
  margin-left: 10px;
  height: auto;
  border: 1px solid rgba(247, 11, 255, 0.576);
  background-color: transparent;
}

.card-body{
  padding: 0.5rem !important;
  text-decoration: none !important;
}
.game-title{
  color: white;
}

.card-img-top{
  height: auto;
}

.card-title{
  font-size: 13px;
  color: white;
}

.categoryName{
  font-size: 11px;
  border-radius: 5px;
  background-color: rgba(61, 56, 56, 0.24);
  margin-right: 5px;
}

.gameCard{
  text-decoration: none;
}

.title{
  color: white;
  text-align: center;
}